<table class="table" >
    <thead>
        <th>Name</th>
        <th>MAC</th>
    </thead>
    <tbody ng-repeat="device in allDevices" >
        <tr ng-if="((user.devices | filter:{ id : device.id }).length == 1)" class="selected" ng-click="removeDevice(device);" >
            <td>{{device.name}}</td>
            <td>{{device.mac}}</td>
        </tr>
        <tr ng-if="((user.devices | filter:{ id : device.id }).length != 1)" ng-click="addDevice(device);" >
            <td>{{device.name}}</td>
            <td>{{device.mac}}</td>
        </tr>
    </tbody>
</table>