<!-- Render our users page -->
<h2>Users</h2>
<div class="input-group">
    <input type="text" data-ng-model="name" placeholder="search" class="form-control"/>
    <span class="input-group-btn">
        <button class="btn btn-primary" type="button" ng-click="addUser()">Add User</button>
    </span>
</div>

<div  id="grid-square" >
    <ul>
        <li data-ng-repeat="user in users | filter:name | orderBy:'id' " >
        <div class="grid-item" >
            <div ng-class="(user.type == 'ADMIN') ? 'panel panel-danger' : 'panel panel-info'"#>
                <div class="panel-heading">
                    <h3 class="panel-title" >{{ user.username }}</h3>
                </div>
                <div class="panel-body">
                    <img alt="Avatar {{user.name}}" ng-src="/web/img/{{user.avatarId}}.png" width="128" height="12" class="img-thumbnail"/>
                    <h4>{{user.realname}}</h4>
                    <div class="btn-group" >
                        <button type="button" class="btn btn-default" ng-click="editUser(user.id)">
                            <i class="fa fa-pencil-square-o"></i>
                        </button>
                        <button type="button" class="btn btn-danger" ng-click="deleteUser(user.id)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        </li>
    </ul>
</div>