<!-- Render our users page -->
<h2>Groups</h2>
<div class="input-group">
    <input type="text" data-ng-model="name" placeholder="search" class="form-control"/>
    <span class="input-group-btn">
        <button class="btn btn-primary" type="button" ng-click="addGroup()">Add Group</button>
    </span>
</div>

<div  id="grid-square" >
    <ul>
        <li data-ng-repeat="group in groups | filter:name | orderBy:'id' " >
        <div class="grid-item" >
            <div class="well" >
                <h3>{{ group.name }}</h3>
                <div class="btn-group" >
                    <button type="button" class="btn btn-default" ng-click="editGroup(group.id)">
                        <i class="fa fa-pencil-square-o"></i>
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="deleteGroup(group.id)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>
        </li>
    </ul>
</div>