<div id="grid-square" >
    <ul>
        <li ng-repeat="app in apps | orderBy:'id'" >
            <a ui-sref="{{app.app}}">
                <span class="glyphicon {{app.icon}}"></span>
                <span class="grid-class">{{app.name}}</span>
            </a>
        </li>
    </ul>
</div>