<div class="modal-header dialog-info">
    <h4 class="modal-title">{{dialog.title}}</h4>
</div>
<div class="modal-body">
    <p>{{dialog.message}}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="confirm()">Confirm</button>
    <button class="btn btn-default" ng-click="close()">Cancel</button>
</div>