<div class="modal-header dialog-danger">
    <h4 class="modal-title">{{dialog.title}}</h4>
</div>
<div class="modal-body">
    <p>{{dialog.message}}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="close()">Ok</button>
</div>