<!-- Rendero ur movies page -->
<h2>Movies</h2>
<input type="text" data-ng-model="title" placeholder="search" class="form-control"/>

<div  id="grid-square" >
    <ul>
        <li data-ng-repeat="movie in movies | filter:title | orderBy:'id' " >
        <div class="grid-item" id="grid-item-content" >
            <div>
                <button type="button" class="btn btn-default btn-xs" ng-click="editMovie(movie.id)" >
                    Edit <i class="fa fa-pencil-square-o"></i>
                </button>
            </div>
            <h4>{{ movie.title }}</h4>
            <h6>{{ movie.year }}</h6>
            <img src="/web/img/video.png" style="max-width:100%; max-height:100%"/>
        </div>
        </li>
    </ul>
</div>