<!-- Rendero ur users page -->
<h2>Devices</h2>
<div class="input-group">
    <input type="text" data-ng-model="name" placeholder="search" class="form-control"/>
    <span class="input-group-btn">
        <button class="btn btn-primary" type="button" ng-click="addDevice()">Add Device</button>
    </span>
</div>

<div  id="grid-square" >
    <ul>
        <li data-ng-repeat="device in devices | filter:name | orderBy:'id' " >
        <div class="grid-item" >
            <div class="well">
                <i class="fa fa-{{device.type | lowercase }} fa-5x"></i>
                <h4>{{ device.name }}</h4>
                <div class="btn-group" >
                    <button type="button" class="btn btn-default" ng-click="editDevice(device.id)">
                        <i class="fa fa-pencil-square-o"></i>
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="deleteDevice(device.id)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>
        </li>
    </ul>
</div>