<table class="table" >
    <thead>
        <th>Username</th>
    </thead>
    <tbody ng-repeat="user in allUsers" >
        <tr ng-class="(user.id == device.userId) ? 'selected' : ''" ng-click="device.userId = user.id" >
                <td>{{user.username}}</td>
        </tr>
    </tbody>
</table>