<table class="table" >
    <thead>
        <th>Name</th>
    </thead>
    <tbody ng-repeat="group in allGroups" >
        <tr ng-if="((picture.groups | filter:{ id : group.id }).length == 1)" class="selected" ng-click="removeGroup(group);" >
                <td>{{group.name}}</td>
        </tr>
        <tr ng-if="((picture.groups | filter:{ id : group.id }).length != 1)" ng-click="addGroup(group);" >
                <td>{{group.name}}</td>
        </tr>
    </tbody>
</table>