<h2>Pictures</h2>
<input type="text" data-ng-model="name" placeholder="search" class="form-control"/>

<div  id="grid-square" >
    <ul>
        <li data-ng-repeat="picture in pictures | filter:name | orderBy:'id' " >
        <div class="grid-item" id="grid-item-content">
            <div>
                <button type="button" class="btn btn-default btn-xs" ng-click="editPicture(picture.id)" >
                    Edit <i class="fa fa-pencil-square-o"></i>
                </button>
            </div>
            <h4>{{picture.name}}</h4>
            <h6>at {{ picture.date | date:'dd/MM/yyyy' }}</h6>
            <img src="/web/img/picture.png" style="max-width:100%; max-height:100%"/>
        </div>
        </li>
    </ul>
</div>