<!-- Render our music page -->
<h2>Music</h2>
<input type="text" data-ng-model="title" placeholder="search" class="form-control"/>


<div  id="grid-square" >
    <ul>
        <li data-ng-repeat="music in musics | filter:title | orderBy:'id' " >
        <div class="grid-item" id="grid-item-content">
            <div>
                <button type="button" class="btn btn-default btn-xs" ng-click="editMusic(music.id)" >
                    Edit <i class="fa fa-pencil-square-o"></i>
                </button>
            </div>
            <h4>{{music.title}}</h4>
            <h6 ng-show="music.artist" >by {{ music.artist }}</h6>
            <img src="/web/img/audio.png" style="max-width:100%; max-height:100%"/>
        </div>
        </li>
    </ul>
</div>