div.container {
    max-width: 900px;
}

#grid-square ul {
    padding-left: 0;
    list-style: none;
}

#grid-square ul > li a {
    float: left;
    width: 33.3%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    color: #FCFCFC;
    border: 1px solid #FFFFFF;
    background-color: #3E3F3A;
}

.content {
    background-color: #E6E6E6;
    border: 1px solid #fff;
    color: #4E4E4E;
}

.selected > td {
    background-color: #e0e0f1;
}

.grid-item > .well {
    border: 1px solid #B0B0B0;
}

.grid-item > .well > h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#grid-square ul > li .grid-item {
    float: left;
    width: 50%;
    padding: 0px;
    text-align: center;
}

#grid-item-content {
    /*border: 1px solid #969696;*/
    
    margin: 0px;
}

#grid-item-content > .content-item {
    min-height: 256px;
    background-image: url('/web/img/picture.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.dialog-danger {
    background-color: #d9534f;
    color: #FFFFFF;
}

.dialog-primary {
    background-color: #428bca;
    color: #FFFFFF;
}

.dialog-info {
    background-color: #31708f;
    color: #ffffff;
}

.dialog-warning {
    background-color: #E0D665;
    color: #ffffff;
}

#grid-square ul > li a:hover {
    background-color: #696969;
    text-decoration: none;
}

#grid-square ul li .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 48px;
}

#grid-square ul li .grid-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    max-width: 256px;
}

@media only all and (min-width: 767px) {
    #grid-square ul {
        margin-right: auto;
        margin-left: auto;
    }
    #grid-square ul > li a {
        width: 25%;
        height: 25%;
    }
    #grid-square ul li .glyphicon {
        font-size: 64px;
    }
    #grid-square ul > li .grid-item {
        float: left;
        width: 25%;
        height: 25%;
        padding: 5px;
        text-align: center;
    }

    #grid-item-content {
        margin: 5px;
    }
}

img.navbar-avatar {
    background-color: #ffffff;
    margin-top: 6px;
    padding: 2px;
}
